{
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "spaced-comment": "off",
    "no-inline-comments": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/promise-function-async": "off"
  }
}
